.presentacion__parrafo{
    color: aliceblue;
    font-size: 2rem;
    font-style: oblique;
    border: 1px solid #d0d0d0;
    margin-top: 0.1rem;
}

@media screen and (max-width:500px) {
    .presentacion__parrafo{
       
        font-size: 1rem;
       
        
    }
}